{{- $features := get . "features" | default dict -}}
{{- $isPersonal := get $features "personal" | default false -}}
{{- $isWork := get $features "work" | default false -}}
{{ if not $isPersonal -}}
.gitconfig-ssh
.ssh/config
{{ end -}}
{{ if not $isWork -}}
.proxy.sh
{{ end -}}
